<script src="/scripts/main.js" defer></script>
<nav>
  <div class="container">
    <span><i class="fa-solid fa-sun"></i></span>

    <i class="display-mobile fa-solid fa-bars"></i>

    <ul>
      <li>
        <a href="/"><i class="fa-solid fa-house"></i> HOME</a>
      </li>
      <li>
        <a href="/dashboard"><i class="fa-solid fa-chart-line"></i> DASHBOARD</a>
      </li>
      <li>
        <a href="/expenses"><i class="fa-solid fa-wallet"></i> EXPENSES</a>
      </li>
      <li>
        <a href="/profile"><i class="fa-solid fa-user"></i> PROFILE</a>
      </li>
    </ul>
  </div>
</nav>
